
.layer1{
    margin-top: 1%;
        margin-left:  3.6%; 

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
     height: 5%;  
     width: 15%; 

    background-color: red;

    z-index: -1;

    position: absolute;
    display: flex;
    justify-content: center;
   
}
@media  screen and (max-width: 1005px){
    .layer1{
        margin-left:  6%;
        width: 29.5%;
    }
}
@media  screen and (min-width: 1006px) and (max-width:1231px){
    .layer1{
        margin-left:  5%;
        width: 24%;
    }
}
@media  screen and (min-width: 1231px) and (max-width:1500px){
    .layer1{
        margin-left:  4.5%;
        width: 22.5%;
    }
}
@media  screen and (min-width: 1500px) and (max-width:1639px){
    .layer1{
        margin-left:  4%;
        width: 18%;
    }
}
@media  screen and (min-width: 1639px) and (max-width:1800px){
    .layer1{
        margin-left:  4%;
        width: 17.8%;
    }
}

.layer2{
 
 display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 700px;

    width: 500px; 


    background-image: url(iphone1.png) ;
      background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
 

}

.text{
    margin-top: 14%;
    z-index: 2;
}
 
